= form_for @blueprint_component, url: blueprint_components_path do |f|
    = f.select "component_id", Component.where("name IS NOT NULL").map {|c| [c.name, c.id] }
    = f.text_field :quantity, type: :number, value: 1
    = f.submit "Add"