%h2
  = link_to "Produceables", produceables_path
  Build Plans
%table
  %tr
    %th Creation Date
    %th Value
    %th Number of Items
  - @build_plans.each do |build_plan|
    %tr
      %td= link_to build_plan.created_at, build_plan
      %td= number_to_currency build_plan.cost
      %td= build_plan.planned_items.map(&:qty).reduce(0, &:+)
